{% extends 'base.html.twig' %}

{% block title %}Site index{% endblock %}

{% block main %}
    <h1>Site index</h1>

    <table class="table">
        <thead>
            <tr>

                <th>Nom_site</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for site in sites %}
            <tr>

                <td>{{ site.nomSite }}</td>
                <td>
                    <a href="{{ path('app_site_edit', {'id': site.id}) }}">Modifier</a>
                    <form method="post" action="{{ path('app_site_delete', {'id': site.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ site.id) }}">
                        <button class="btn">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_site_new') }}">Nouveau site</a>
{% endblock %}
