{% extends 'base.html.twig' %}

{% block title %}List des sites{% endblock %}

{% block main %}
    <h1>liste des sites</h1>

    <table class="table">
        <thead>
            <tr>

                <th>Nom_site</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for site in sites %}
            <tr>

                <td>{{ site.nomSite }}</td>
                <td>
                    <form method="GET" action="{{ path('app_site_edit', {'id': site.id}) }}" >
                        <button style="color: orange;" class="btn" >Modifier</button>
                    </form>
                    {{ include('site/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <br>
    <form method="GET" action="{{ path('app_site_new') }}" >
        <button style="color: seagreen;" class="btn" >Nouveau site</button>
    </form>

    <form method="GET" action="{{ path('home') }}" >
        <button style="color: cornflowerblue;" class="btn" >Accueil</button>
    </form>

{% endblock %}
