{% extends 'base.html.twig' %}

{% block title %}List des sites{% endblock %}

{% block main %}
    <h1>liste des sites</h1>

    <table class="table">
        <thead>
            <tr>

                <th>Nom_site</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for site in sites %}
            <tr>

                <td>{{ site.nomSite }}</td>
                <td>
                    <a href="{{ path('app_site_edit', {'id': site.id}) }}">Modifier</a>
                    {{ include('site/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_site_new') }}">Nouveau site</a>
    <br>
    <a href="{{ path('home') }}">Retour a l'accueil</a>
{% endblock %}
