{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block main %}


    <div class="container text-light" style="width: 30vw; margin-top: 40px;">

    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal text-light">Please sign in</h1>
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >




            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>


        <button class="btn btn-lg" type="submit" style="background-image: url(https://v-georgia.com/wp-content/uploads/2016/05/zakat_batumi1-858x503.jpg);color: white;">
            Sign in
        </button>
    </form>
    </div>







</div>
{% endblock %}
