{% extends 'base.html.twig' %}

{% block title %}Participant{% endblock %}

{% block main %}
    <h1>Participant</h1>

    <table class="table">
        <tbody>
        <tr>

            <th>Photo</th>
            <td> <img src="\img\user\profile\{{ participant.photoUrl }}" alt="Photo_de_profil" class="img-thumbnail rounded img-fluid" style="width:250px;height:250px;"></td>
            </tr>


            <tr>
                <th>Email</th>
                <td>{{ participant.email }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ participant.pseudo }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ participant.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ participant.prenom }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ participant.telephone }}</td>
            </tr>
            <tr>
                {% if app.user.id == participant.id %}
                <th>Administrateur</th>
                <td>{{ participant.administrateur ? 'Yes' : 'No' }}</td>
            </tr>
            {% endif %}
            <tr>
                {% if app.user.id == participant.id %}
                <th>Actif</th>
                <td>{{ participant.actif ? 'Yes' : 'No' }}</td>
            </tr>
            {% endif %}


        </tbody>
    </table>

    <a href="{{ path('home') }}">retour sur l'accueil</a>

{% endblock %}
