{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

 {% block main %}
{% if app.user %}
     <table class="table">
         <thead>
         <tr>
             <th>nom</th>
             <th>date sortie</th>
             <th>Date de cloture</th>
             <th>nombre d'inscription</th>
             <th>Etat</th>
             <th>Inscrit</th>
             <th>Organisateur</th>
             <th>actions</th>
         </tr>
         </thead>
         <tbody>

         {% for sortie in sorties %}
             {% if (app.user and sortie.getIdEtat().id != 1) or (app.user and sortie.getIdEtat().id == 1 and app.user.id == sortie.organisateur.id) %}
             <tr>

                 <td>{{ sortie.nom }}</td>
                 <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('Y-m-d H:i:s') : '' }}</td>
                 <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('Y-m-d ') : '' }}</td>
                 <td>{{ sortie.nbInscriptionMax }}</td>
                 <td>{{ sortie.getIdEtat().getLibelle() }}</td>
                 <td>Inscrit</td>
                 <td>{{ sortie.organisateur.nom }}</td>
                 <td>
                     {% if app.user and  app.user.id == sortie.organisateur.id  and sortie.getIdEtat().id == 1 %}
                     <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">edit</a>
                     {%  endif %}
                     {% if app.user and sortie.getIdEtat().id != 2 %}
                         <a href="{{ path('app_sortie_inscription',  {'idSortie': sortie.id , 'idParticipant': app.user.id}) }}">s'inscrire</a>
                     {%  endif %}

                     {% if app.user and sortie.getIdEtat().id != 1 %}
                     <a href="{{ path('app_sortie_show', {'id': sortie.id}) }}">show</a>
                     {%  endif %}
                 </td>
             </tr>
         {% else %}

             {%  endif %}
         {% endfor %}

         </tbody>
     </table>
{% else %}
     <h1>Pour voir les sorties en cours veuillez vous connecter</h1>
{% endif%}
 {% endblock %}





