{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

 {% block main %}


     <p align="right"> Date du jour :    </p>


     {% if app.user %}

    <h1>filtrer les sorties</h1>

    <form action="{{ path('homePost') }}" method="post">

        <select name="selectSite" class="form-select" style="margin-top: 15px">
            {% for site in sites %}
                <option {% if siteChoisi is defined and siteChoisi == site.getId() %}selected{% endif %}   value="{{site.getId()}}"> {{ site.getNomSite()}}</option>
            {% endfor %}
        </select>
        <br>

        <input type=text" placeholder="recherche" name="recherche" value="{{ recherche|default('') }}">
        <br>
        <br>
        <p>Entre<input type="date" name="dateMin" value="{{ dateMin|default('') }}"> et <input type="date" name="dateMax" value="{{ dateMax|default('') }}"></p>
        <br>
        <input type="checkbox" id="isOrganisateur" name="organisateur" {% if isOrganisateur!=null and isOrganisateur %} checked {% endif %}>
        <label for="isOrganisateur">Sorties dont je suis Organisateur/trice</label>
        <br>
        <input type="checkbox" id="isInscrit" name="participantInscrit" {% if isInscrit!=null and isInscrit %} checked {% endif %}>
        <label for="isInscrit">Sorties ou je suis inscrit</label>
        <br>
        <input type="checkbox" id="isPasInscrit" name="participantPasInscrit" {% if isNotInscrit!=null and isNotInscrit %} checked {% endif %}>
        <label for="isPasInscrit">Sorties ou je ne suis pas inscrit</label>
        <br>
        <input type="checkbox" id="isPasse" name="sortiePasse" {% if isSortiePasse!=null and isSortiePasse %} checked {% endif %}>
        <label for="isPasse">Sortie passée</label>
        <br>

        <button type="submit">Rechercher</button>

    </form>


    <table class="table">
         <thead>
         <tr>
             <th>nom</th>
             <th>date sortie</th>
             <th>Date de cloture</th>
             <th>nombre d'inscription</th>
             <th>Etat</th>
             <th>Inscrit</th>
             <th>Organisateur</th>
             <th>actions</th>
         </tr>
         </thead>
         <tbody>

         {% for sortie in sorties %}

             {%  set participants = sortie.getParticipants()  %}
             {%  set isContain = false  %}
             {% for participant in participants %}
                 {%if app.user == participant %}
                     {%  set isContain = true  %}
                 {%  endif %}
             {% endfor %}

             {################## filtres#####################}


             {% if ((app.user and sortie.getIdEtat().id != 1) or (app.user and sortie.getIdEtat().id == 1
                 and app.user.id == sortie.organisateur.id)) and
                 ((isNotInscrit is not defined and isInscrit is not defined) or
                 (isInscrit and isNotInscrit) or
                 (isInscrit == false and isNotInscrit == false) or
                 (isInscrit and isContain) or
                 (isNotInscrit and isContain == false))
             %}




             {% if sortie.getIdEtat().id == 7%}

             {% else %}

                 <tr>

                 <td>{{ sortie.nom }} </td>
                 <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('Y-m-d H:i:s') : '' }}</td>
                 <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('Y-m-d ') : '' }}</td>
                 <td>{{ sortie.nbInscriptionMax }}</td>
                 <td>{{ sortie.getIdEtat().getLibelle() }}</td>

                 <td> {% if isContain  %} Inscrit  {% elseif app.user == sortie.organisateur %} Organisateur {% else %} Pas inscrit {% endif %}</td>
                     <td>
                     {% if app.user and sortie.getIdEtat().id == 3 and app.user.id != sortie.organisateur.id  and isContain == true %}
                         <a href="{{path('app_participant_show',{'id': sortie.organisateur.id } )}}">{{ sortie.organisateur.nom }}</a>
                     {% else %}
                         {{ sortie.organisateur.nom }}
                     {% endif %}



                     </td>
                     <td>
                     {% if app.user and  app.user.id == sortie.organisateur.id  and sortie.getIdEtat().id == 1 %}
                     <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">modifier</a>
                     {%  endif %}

                     {% if app.user and  app.user.id == sortie.organisateur.id  and sortie.getIdEtat().id == 1 %}

                         <form method="post" action="{{ path('app_sortie_publier', {'idSortie': sortie.id}) }}" onsubmit="return confirm('voulez vous publier votre sortie');">
                             <input type="hidden">
                             <button class="btn">publier</button>

                         </form>


                     {%  endif %}

                     {% if app.user and  app.user.id == sortie.organisateur.id  and sortie.getIdEtat().id == 2 %}
                         {{ include('sortie/_delete_form.html.twig') }}
                     {%  endif %}


                     {% if app.user and (sortie.getIdEtat().id == 2 or sortie.getIdEtat().id == 3) and sortie.organisateur.id != app.user.id  %}


                         {%  if isContain%}
                             <a href="{{ path('app_sortie_desinscription',  {'idSortie': sortie.id , 'idParticipant': app.user.id}) }}" onclick="return confirm('voulez vous vraiment vous desincrire')";>se desincrire</a>
                             {% else %}
                                 {% if sortie.getIdEtat().id == 2 %}
                                 <a href="{{ path('app_sortie_inscription',  {'idSortie': sortie.id , 'idParticipant': app.user.id}) }}" onclick="return alert('vous etes inscrit')";>s'inscrire</a>
                             {% endif %}
                         {% endif %}


                     {%  endif %}

                     {% if app.user and sortie.getIdEtat().id != 1 %}
                     <a href="{{ path('app_sortie_show', {'id': sortie.id}) }}">afficher</a>
                     {%  endif %}
                 </td>
             </tr>{%  endif %}
         {% else %}


             {% endif%}
         {% endfor %}

         </tbody>
     </table>
{% else %}
     <h1>Pour voir les sorties en cours veuillez vous connecter</h1>
{% endif%}

 {% endblock %}





