{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block main %}
    <h1>Sortie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sortie.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ sortie.nom }}</td>
            </tr>
            <tr>
                <th>DateHeureDebut</th>
                <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ sortie.duree }}</td>
            </tr>
            <tr>
                <th>DateLimiteInscription</th>
                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>NbInscriptionMax</th>
                <td>{{ sortie.nbInscriptionMax }}</td>
            </tr>
            <tr>
                <th>InfosSortie</th>
                <td>{{ sortie.infosSortie }}</td>
            </tr>
        </tbody>
    </table>



    {%  set participants = sortie.getParticipants()  %}


        <table class="table">
            <tbody>
            <tr>
                <th>Pseudo</th>
                <th>Nom</th>
            </tr>
            <tr>
                <th>Organisateur: {{sortie.getOrganisateur().pseudo }}</th>
                <th>{{sortie.getOrganisateur().nom }} {{sortie.getOrganisateur().prenom }}</th>
            </tr>

    {% for participant in participants %}
            <tr>
                <td>{{ participant.pseudo }}</td>
                <td>{{ participant.nom }} {{ participant.prenom }}</td>
            </tr>
    {% endfor %}
            </tbody>
        </table>

    <a href="{{ path('home') }}">Retour sur les sorties</a>

    {%  if app.user and  app.user.id == sortie.organisateur.id %}
    <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">Modifier</a>

    {{ include('sortie/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
