{% extends 'base.html.twig' %}

{% block title %}liste ville{% endblock %}

{% block main %}
    <h1>Liste des villes</h1>

    <table class="table">
        <thead>
            <tr>

                <th>Nom_ville</th>
                <th>Code_postal</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ville in villes %}
            <tr>

                <td>{{ ville.nomVille }}</td>
                <td>{{ ville.codePostal }}</td>
                <td>
                    <a href="{{ path('app_ville_edit', {'id': ville.id}) }}">modifier</a>
                    {{ include('ville/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_ville_new') }}">Nouvelle ville</a>
    <br>
    <a href="{{ path('home') }}">Retour a l'accueil</a>
{% endblock %}
