{% extends 'base.html.twig' %}

{% block title %}liste ville{% endblock %}

{% block main %}
    <h1>Liste des villes</h1>

    <table class="table">
        <thead>
            <tr>

                <th>Nom_ville</th>
                <th>Code_postal</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ville in villes %}
            <tr>

                <td>{{ ville.nomVille }}</td>
                <td>{{ ville.codePostal }}</td>
                <td>
                    <form method="post" action="{{ path('app_ville_edit', {'id': ville.id}) }}" >
                        <button style="color: orange;" class="btn" >Modifier</button>
                    </form>
                    {{ include('ville/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <form method="POST" action="{{ path('app_ville_new') }}" >
        <button style="color: greenyellow;" class="btn" >Nouvelle ville</button>
    </form>

    <form method="GET" action="{{ path('home') }}" >
        <button style="color: cornflowerblue;" class="btn" >Accueil</button>
    </form>

{% endblock %}
